body{
    padding: 20px;
}
.container{
    margin: 20px auto 20px auto;
}

.container, .row, .status{
    border: black 1px solid;
}
.for-cards  {
    min-height: 300px;
    height: fit-content;
    border: black 1px dotted;
}
h2{
    text-align: center;
    padding: 20px;
    color: red;
}
.card {
    width: 250px;
    border: black 1px solid;
    background-color: #ecedff;


}
h4{
    min-height: 60px;
    border: black 1px dotted;
    border-radius: 8px;
    font-size: 18px;
    background-color: white;
    padding: 3px;
}

h1 {
    font-size: 70px;
    margin: auto;
    color: black;
    text-align: center;
    padding: 20px;
}