{% extends "layout.html" %}

{% block title %}PROMAN{% endblock %}

{% block main %}

    <nav class="navbar navbar-light bg-light">
  <span class="navbar-text">
    <img alt="ProMan logo" src="{{ url_for('static', filename='images/proman.png') }}" width="300px">
  </span>
        <button id="newBoardBtn" type="button" class="btn btn-success"> + New Board</button>
    </nav>

    <div id="newBoardModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span id="modalCloseButton" class="close-btn">&times;</span>
                <p id="newBoardHeader">New Board</p>
            </div>
            <div class="modal-body">
                <p>New board body</p>
            </div>
        </div>
    </div>

{% endblock %}