{% extends "layout.html" %}

{% block title %}PROMAN{% endblock %}

{% block main %}

    <div class="newBoardButtonDiv">
        <button id="newBoardBtn" type="button" class="float-right btn btn-success"> + New Board</button>
    </div>

    <div id="newBoardModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span id="modalCloseButton" class="close-btn">&times;</span>
                <p id="newBoardHeader">New Board</p>
            </div>
            <div class="modal-body">
                <p>New board body</p>
            </div>
        </div>
    </div>

{% endblock %}